*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    --light: #611010;
    --primary: rgb(9, 9, 71);
    --secondary: rgb(70, 70, 55);
}

body{
    text-align: center;
    font-family: sans-serif;
    background-color: var(--light);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}
img{
    width: 100%;
    display: block;
}
h1 {
    color: var(--secondary);
    text-align: center;
    text-transform: uppercase;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.card-header{
    height: 200px;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}
.card-title{
    text-align: center;
    margin: 0;
}
.card-description{
    flex-grow: 1;
}
.card-header img{
    border-radius: 10px 10px 0 0;
}
.card-body{
    border-radius: 0 0 10px 10px;
    background-color: #c28708;
    padding: 20px 15px;
    text-align: justify;
    border: 1px solid #c28708;
}
.btn{
    display: block;
    background-color: var(--secondary);
    padding: 5px;
    text-decoration: none;
    color: #210be7;
    text-align: center;
    margin-top: 10px;
}
@media(min-width: 480px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:  10px;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .card-body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(41, 41, 41);
    position: fixed;
    width: 100;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: rgb(192, 149, 30);
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: rgb(192, 149, 30) ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover{
    background-color: rgb(122, 122, 122)f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    height: 60vh !important;
    background: url(Imagenes/Fondoherramientas.jpg) no-repeat center;
    background-size: cover;
}

.tittle {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #ffffff;
}


